@import "colors.css";
@import "progress_bar.css";
@import "devices.css";

.main_window_class{
    background-color: rgba(48,48,48,0.2);
}

.main_window_class widget{
    background-color: rgba(48,48,48,0.2);
}



.main_box{
    background-color: rgba(48,48,48,0.2);
}



/* .selected_music_class{ */
/*     border: 0.3px ridge floralwhite; */
/* } */

.header_bar{
    background-color: rgba(48,48,48,0.02);
    border: none;
    box-shadow: none;
    padding: 0px;
    border-color: transparent;
    caret-color: transparent;
    outline-color: transparent;
}

.header_bar windowhandle{
    background-color: rgba(48,48,48,0.02);
    border: none;
    box-shadow: none;
    border-color: transparent;
    caret-color: transparent;
    outline-color: transparent;
}

.header_bar headerbar windowhandle{
    background-color: rgba(48,48,48,0.02);
    border: none;
    box-shadow: none;
    border-color: transparent;
    caret-color: transparent;
    outline-color: transparent;
}

.header_bar windowhandle box{
    background-color: rgba(48,48,48,0.02);
    border: none;
    box-shadow: none;
    border-color: transparent;
    caret-color: transparent;
    outline-color: transparent;
}

.header_bar box widget{
    background-color: rgba(48,48,48,0.02);
    border: none;
    box-shadow: none;
    border-color: transparent;
    caret-color: transparent;
    outline-color: transparent;
}

.header_bar windowcontrols.start {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-color: transparent;
    caret-color: transparent;
    outline-color: transparent;
}

.header_bar windowcontrols.end button{
    background-color: rgba(48,48,48,0.02);
    /* outline-color: transparent; */
    /* border: none; */
    /* box-shadow: none; */
    /* border-color: transparent; */
    /* caret-color: transparent; */
    /* outline-color: transparent; */
}

.header_bar windowcontrols.end{
    background-color: rgba(48,48,48,0.01);
    outline-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-color: transparent;
    caret-color: transparent;
    outline-color: transparent;
}


.line_class {
    background-color: rgba(128, 128, 128, 0.6);
}

.prefs_group{
    color: dimgray;
}

.popover_button{
    /* box-shadow: none; */
    /* background-color: var(--rosewater); */
    color: floralwhite;
    font-size: 10px;
    font-family: "JetbrainsMono Nerd Font";
}

.duration_class{
    border-left: 0.3px ridge floralwhite;
    padding-left: 15px;
}

.popover_button:hover{
    box-shadow: none;
    transition-duration: 0.5s;
    background-color: grey;
    font-family: "JetbrainsMono Nerd Font";
}


.popover contents{
    box-shadow: none;
    /* border: none; */
    /* background-color: transparent; */
}
.popover arrows{
    border: none;
    box-shadow: none;
}

.popover_box{
    box-shadow: none;
    border: none;
    /* background-color: transparent; */
}

.music_display_content_class{
    border: 0.3px ridge rgba(38,38,38,0.15);
    background-color: rgba(38,38,38,0.15);
    border-radius: 8px;

}

.music_name_label{
    /* background-color: transparent; */
    border-left: 0.15mm ridge floralwhite;
    border-left-style:double;
}

.menu_button{
    margin: 5px;
    font-size: 10px;
    text-shadow: none;
    background-color: rgba(48,48,48,0.2);
    outline-color: transparent;
    box-shadow: none;
}

.menu_button button.toggle:hover{
    font-size: 10px;
    margin: 5px;
    border: 0.5px rigde var(--rosewater);
    background-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}

.menu_button button.toggle{
    font-size: 10px;
    margin: 5px;
    border: 0.5px solid var(--overlay-0);
    background-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}

.menu_button:hover{
    margin: 5px;
    font-size: 10px;
    outline-color: transparent;
    box-shadow: none;
    text-shadow: none;
}


.menu_button button.toggle content{
    font-size: 10px;
    margin: 5px;
    border: 0.5px solid var(--overlay-0);
    background-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}

.slider_main slider{
    box-shadow: none;
    background-color: rgba(148,162, 155, 0.95);
    border-color: transparent;
    outline-color: transparent;
    background-image: none;
    min-height: 16px;
    min-width: 16px;
    margin: -7px;
    outline-offset: -3px;
    transition-timing-function: ease-in-out;
    transition-property: all;
    outline-style: dashed;
    padding: 0px;
    border-width: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.slider_main trough {
    box-shadow: none;
    min-height: 6px;
    border: none;
    border-radius: 3px;
}

.slider_main highlight{
    /* background-color: var(--purple); */
    /* background-image: none; */
    box-shadow: none;
    border-radius: 0px;
    margin: -7px;
    outline-offset: -3px;
    min-height: 16px;
    min-width: 16px;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

.tag_box {
    border-bottom: 0.3px ridge floralwhite;
}

.list_box{
    color: white;
    font-family: "JetBrains Mono NerdFont";
    font-style: italic;
    font-size: 16px;
    background-color: rgba(48,48,48,0.01);
    box-shadow: none;
    /* border: 0.3px ridge floralwhite; */
}

/*when not selected */

/* Estilo padrão, aplicado apenas quando NÃO estiver hover ou selecionado */
.list_box row.activatable:not(:hover):not(:selected) {
    background-color: rgba(48,48,48,0.01);
    box-shadow: none;
}

.list_box row.activatable{
    box-shadow: none;
    padding: 0px;
}



.separator_class{
    border: 0.1mm solid floralwhite;
    background-color: rgba(48,48,48,0.3);
}

.music_holder_grid{
    border: 0.3px ridge floralwhite;
}

/* .music_holder_box{ */
/*     background-color: red; */
/* } */

.music_button_class{
    background: transparent;
    border-radius:3px;
    font-size: 10px;
    border: none;
    box-shadow: none;
}
